<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <style>
        .left-align {
            text-align: left;
        }
    </style>
</head>
<body>
    <div class="left-align">
        <h1>Welcome to my site!</h1>
        <p>Please select one of the options:</p>
        
        <a href="{% url 'developer_list' %}">
            <button>View developers list!</button>
        </a>
        <a href="{% url 'admin:index' %}">
            <button>Login to the Admin panel!</button>
        </a>
    </div>
</body>
